*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.utility-header{
    font-size: 20px;
    font-weight: bold;
}
.utility{
    list-style: none;
}
.utility li{
    display: inline-block;
    padding-right: 20px;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}
